.about-container {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    border-radius: 2rem 2rem 0 0;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 100%;

        padding: 1rem 5rem 5rem 5rem;

        > a {
            background: var(--tertiary);
            width: 10%;
            height: 5px;

            border-radius: 1rem;
        }

        > div {
            max-width: 75rem;
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            gap: 50px;

            padding: 5rem 0;
        }
    }
}

.about-text {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    width: 100%;

    text-align: justify;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: var(--tertiary);

    gap: 1rem;

    i,
    a {
        color: var(--primary);
        transition: color 0.2s;
    }

    a {
        transition: color 0.2s ease;
        cursor: pointer;

        &:hover {
            color: var(--accent);
        }
    }
}

@media screen and (max-width: 800px) {
    .about-container {
        > div > div {
            display: flex;
            flex-direction: column;

            > div {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}
